<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="leo.jpg" sizes="48x48">
  <link rel="stylesheet" href="Login.css">
  <title>EBAC - Login</title>
</head>
<body>
  <div class="container">
    <h1><strong>Login</strong></h1>
    <form action="login">
      <label for="nome"><strong>Nome:</strong></label>
      <input type="text" name="nome" id="nome" required>

      <label for="email"><strong>Email:</strong></label>
      <input type="email" name="email" id="email" required>

      <label for="password"><strong>Senha:</strong></label>
      <input type="password" name="password" id="password" required>

      <button type="submit">Entrar</button>

      <a href="Registrar.html">Cadastre-se</a>
    </form>
  </div>
</body>
</html>
